* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ===== Header ===== */

.header {
    background: #1A1A1A;
    width: 100%;
    height: 3.875rem;
    font-family: 'Roboto', sans-serif;
}

.menu-list {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25%;
}

.option {
    margin-right: 2rem;
    list-style-type: none;
    color: #F6EFE1;
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 3.875rem;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.lang-wrapper {
    margin-right: 2rem;
    line-height: 4.1rem;
}

.rectangle {
    position: relative;
    left: 0.341rem;
    bottom: 0.213rem;
}

.white-line {
    height: 0.13rem;
    width: 100%;
}

/* ===== Home ===== */

.home-img {
    height: 36.125rem;
    background-image: url('/images/Hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-title {
    margin-top: 2rem;
    margin-left: 4.875rem;
}

.byciclis {
    position: relative;
    left: 15%;
}

.welcome {
    position: relative;
    height: 25rem;
    background-image: linear-gradient(rgb(250, 250, 250), rgba(185, 185, 185, 0.815)), url('/images/White-BG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-wrapper {
    position: relative;
    top: 2rem;
}

.welcome-title {
    width: 8.25rem;
    height: 3.313rem;
    margin: 0 71.938rem 1.5rem 5.188rem;
    font-family: 'Anton', sans-serif;
    font-size: 2.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.paragraph-wrapper {
    margin-top: 1.5rem;
    position: relative;
    margin-left: 5.188rem;
    max-width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

.paragraph {
    margin-top: 1rem;
}

/* ===== Second Menu ===== */

.second-menu {
    background: #1a1a1a;
    height: 8rem;
    
}

.second-menu-container {
    position: relative;
    top: 3.406rem;
    display: flex;
    justify-content: space-around;
}

.option-second-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.188rem;
    letter-spacing: normal;
    text-align: left;
    color: #f6efe1;
    display: flex;
    flex-direction: row;
}

.second-menut-title{
    margin-top: 0.38rem;
    margin-left: 1rem;
}

/* ===== Contact ===== */

.contact{
    height: 29.563rem;
    background-image: url('/images/ContactBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.contact-title{
    width: 9.875rem;
    height: 3.313rem;
    margin: 0 71.938rem 1.5rem 5.188rem;
    font-family: 'Anton', sans-serif;
    font-size: 2.25rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f6efe1;
}

.nameAndEmail{
    display: flex;
}
.label-nameEmail{
    position: relative;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #f6efe1;
}

.input-nameEmail{
    height: 2.5rem;
    width: 30%;
    border-radius: 4px;
    border: solid 1px #f6efe1;
    background-color: #f6efe100;
    margin: 1rem 1.5rem 1.75rem 0.125rem;
}